{% extends "templates/base.html" %}

{% block head %}
<h3>About Us</h3>
{% endblock %}

{% block nav1 %}
<a href = "aboutus.html">ABOUT US</a>
{% endblock %}

{% block content %}
	<div class = "aboutus">
		<p id = "opening"> Over 25 Years of Excellence</p>
		<p>
			The Asia Business Conference is the pioneer conference about Asia at the Ross School of Business whilst also being the longest-running student-organized business conference about Asia in North America. 
		</p>
		<p>
			Be a part of a conference that indulges you to think as a global citizen and broadens your horizon of knowledge by virtually taking you across countries in Asia
		</p>
		<p>
			<a href="https://michiganross.umich.edu/">Business School Homepage</a>
		</p>
	</div>
{% endblock %}
	
	

