{% extends "templates/base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="static/stylesheet4.css"/>	
{% endblock %}

{% block head %}
<h2>Current Conference</h2>
{% endblock %}

{% block nav4 %}
<a href = "currentconference.html">CORRENT CONFERENCE</a>
{% endblock %}

{% block content %}
	<p>
		25th Asia Business Conference
	</p>
	<p>
		The 2015 Asia Business Conference was successfully held at the Ross School of Business with around 400 attendees.  31 speakers presented and interacted with the Michigan community in 11 Panels moderated by university scholars.  A special career panel featured 4 Ross MBA alumni who shared with the audience their career paths after business school. The conference keynote speech was delivered by Singapore's ambassador to the USA in an engaging manner. The conference received great feedback from the attendees, guests and sponsors. The Asia Business Conference Board would like to extend gratitude to all parties who contributed to the planning of this event. 
	</p>
{% endblock %}