{% extends "templates/base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="static/stylesheet5.css"/>	
{% endblock %}

{% block head %}
<h2>Know Our Sponsors</h2>
{% endblock %}

{% block nav5 %}
<a href = "knowoursponsors.html">KNOW OUR SPONSORS</a>
{% endblock %}

{% block content %}
	<p>
		25th Asia Business Conference
	</p>
	<p>
		This even is only possible through the generous donation of the following sponsors. 
	</p>
	<p id = "sponsor1">
		Center for Japanese Studies
	</p>
	<p id = "sponsor1img">
		<img id = "mtb" src = "static/sponsorimg1.png" alt = "Image of Sponsor1"/>
	</p>
	<p id = "sponsor2">
		Nam Center for Korean Studies
	</p>
	<p id = "sponsor2img">
		<img id = "mtb" src = "static/sponsorimg2.png" alt = "Image of Sponsor2"/>
	</p>
	<p id = "sponsor3">
		Zell Lurie Institute
	</p>
	<p id = "sponsor3img">
		<img id = "mtb" src = "static/sponsorimg3.png" alt = "Image of Sponsor3"/>
	</p>

{% endblock %}