{% extends "templates/base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="static/stylesheet2.css"/>	
{% endblock %}

{% block head %}
<h3>Meet the Boards</h3>
{% endblock %}

{% block nav2 %}
<a href = "meettheboards.html">MEET THE BOARDS</a>
{% endblock %}

{% block content %}
	<p>
		We are the group of University of Michigan students organising the conference and making sure that the event is a great success every year! The board has roughly 60 students each year, including MBAs, BBAs, and other passionate undergraduates and graduate students interested in Asia business. We are divided into the Conference Group, which handles the internal finance, corporate relations, marketing, operations and, IT, and Panel Group, which is mainly responsible for contacting speakers and organising panel discussions. 
	</p>
	<p>
		The board has always been a close knit community, connecting students and alumnus with the same interests and goals. Throughout the school year, we collaborate and work hard to build the conference step by step. At the same time, we play hard and organise activities and events for board members. Our friendships go far beyond the successfully organised conference every year and are maintained even after our graduation. 
	</p>
	<p class = "title1">
		Executive Members
	</p>
	<div class = "container">
		<div class = "row">
		<div class = "row1">
			<div class = "four left">
			</div>
			<p class = "four_left_description_1"> Siyi Chen, BBA 2017, Conference VP </p>
			<div class = "four middle">
			</div>
			<p class = "four_middle_description_1"> Cherry Chou, BBA 2018, Panel VP </p>
			<div class = "four right">
			</div>
			<p class = "four_right_description_1"> Dianne Park, BBA 2018, Finance Director </p>
		</div>
		</div>

		<div class = "row">
		<div class = "row1-2">
			<div class = "four left">
				Siyi Chen, BBA 2017, Conference VP
			</div>
			<div class = "four middle">
				Cherry Chou, BBA 2018, Panel VP
			</div>
			<div class = "four right">
				Dianne Park, BBA 2018, Finance Director
			</div>
		</div>
		</div>

		<div class = "row">
		<div class = "row2">
			<div class = "four left">
			</div>
			<p class = "four_left_description_2"> Justin Jia, BBA 2017, Operatioins Director </p>
			<div class = "four middle">
			</div>
			<p class = "four_middle_description_2"> Lawrence Yeoung, BBA 2019, Eastern Asia Panel Director </p>
			<div class = "four right">
			</div>
			<p class = "four_right_description_2"> Rex Reim, BBA 2019, Marketing Director </p>
		</div>
		</div>

		<div class = "row">
		<div class = "row2-2">
			<div class = "four left">
				Justin Jia, BBA 2017, Operatioins Director
			</div>
			<div class = "four middle">
				Lawrence Yeoung, BBA 2019, Eastern Asia Panel Director
			</div>
			<div class = "four right">
				Rex Reim, BBA 2019, Marketing Director
			</div>
		</div>
		</div>

		<div class = "row">
		<div class = "row3">
			<div class = "four left">
			</div>
			<p class = "four_left_description_3"> Rahul Kolsgi, IOE 2018, South Asia Panel Director </p>
			<div class = "four middle">
			</div>
			<p class = "four_middle_description_3"> Jennifer Zhang, BBA 2018, Public Relation Director </p>
			<div class = "four right">
			</div>
			<p class = "four_right_description_3"> George Xu, BBA 2018, Secretary </p>
		</div>
		</div>

			<div class = "row">
		<div class = "row3-2">
			<div class = "four left">
				Rahul Kolsgi, IOE 2018, South Asia Panel Director
			</div>
			<div class = "four middle">
				Jennifer Zhang, BBA 2018, Public Relation Director
			</div>
			<div class = "four right">
				George Xu, BBA 2018, Secretary
			</div>
		</div>
		</div>
	</div>


<!-- 	<div class = "box_for_boards_1">
		<div class = "images_descriptions">
			<img class = "Siyi_img" src = "static/Siyi_img.jpg" alt = "Siyi's image"/>
			<p>
				Siyi's profile
			</p>
			<img class = "Cherry_img" src = "static/Cherry_img.JPG" alt = "Cherry's image"/>
			<img class = "Justin_img" src = "static/Justin_img.jpg" alt = "Justin's image"/>
			<img class = "someone_img" src = "static/someone_img.jpg" alt = "Someone's image"/>
		</div>
	</div> -->

		
{% endblock %}
	