{% extends "templates/base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="static/stylesheet3.css"/>
<script src="previouscon.js"></script>
{% endblock %}

{% block head %}
<h3>Previous Conference</h3>
{% endblock %}

{% block nav3 %}
<a href = "previousconference.html">PREVIOUS CONFERENCE</a>
{% endblock %}

{% block content %}
	<p>
		The recent 24th Asia Business Conference took place on the 7th and 8th of February at the Ross School of Business, University of Michigan - Ann Arboa. The conference was a great success with approximately 200 attendees, of whom consist of faculties and students from various schools and disciplines as well as representatives from various companies. We also welcomed speakers with different profiles - Former US Ambassador to Vietnam, CEO, Vice Presidents and even founders of companies, from a broad range of industries - automotive, banking, consulting, energy, government, private equity...etc. The participants enjoyed intellectual discussions and interactions through the multiple panels, speeches, meals, and networking sessions. 
	</p>
	<div class = "container">
		<div class = "header">
			<h4 class = "slider_title">Image Slider</h4>
		<div>

		<div id = "slider">
			<ul class = "slides">
				<li class = "slide"><img src = 'static/previouscon_img1.png'/></li>
				<li class = "slide"><img src = 'static/previouscon_img2.png'/></li>
				<li class = "slide"><img src = 'static/previouscon_img3.png'/></li>
				<li class = "slide"><img src = 'static/previouscon_img4.png'/></li>
				<li class = "slide"><img src = 'static/previouscon_img5.png'/></li>
				<li class = "slide"><img src = 'static/previouscon_img6.png'/></li>
				<li class = "slide"><img src = 'static/previouscon_img7.png'/></li>
				<li class = "slide"><img src = 'static/previouscon_img8.png'/></li>
				<li class = "slide"><img src = 'static/previouscon_img9.png'/></li>
				<li class = "slide"><img src = 'static/previouscon_img10.png'/></li>
				<li class = "slide"><img src = 'static/previouscon_img11.png'/></li>
				<li class = "slide"><img src = 'static/previouscon_img12.png'/></li>
			</ul>
		</div>
	</div>
				

		<!-- <div class = "row">
		<div class = "row1">
			<div class = "six left">
			</div>
			<div class = "six right">
			</div>
		</div>
		</div>
	</div> -->

{% endblock %}
